__pycache__/
*.py[cod]
*$py.class

# Env file
.env
.idea
# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# Virtual environments
.venv/
.venv-*/
venv/
env/
ENV/

# Local Data / DB
backend/data/
data/

# Jupyter
.ipynb_checkpoints/
